* {
  margin: 0;
  padding: 0;
}

header h1 {
  margin:auto 10%;
  padding:20px 0;
}

header nav {
  display: flex;
  background-color: #333333;
}

header ul,
main ul{
  display: flex;
  align-items: center;
  margin:auto 10%;
  width: 900px;
  height: 40px;
  list-style: none;
}

header li {
  margin-right: 60px;
}

header li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.pickup {
  margin:auto 10%;
  display: flex;
  justify-content: center;
}

.article {
  width: 350px;
  margin-top: 40px;
}

.article img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.article:nth-child(2) {
  margin:40px;
}

.article h2 {
  font-size: 13px;
  margin-top: 20px;
  color: #333333;
}

.article a,
article a {
  font-size: 13px;
  margin-top: 20px;
  color: #333333;
  display: flex;
  justify-content: center;
}

.container {
  margin-top:40px;
  display: flex;
  justify-content:center;
}

main {
  width: 740px;
}

main article {
  width: 740px;
  margin-bottom: 100px;
}

main article img {
  width: 740px;
  height: 450px;
  object-fit: cover;
}

main article h2 {
  color: #333333;
}

main article ul {
  margin-left: 0;
}

main article li {
  color: #333333;
  font-size: 13px;
  margin-right: 20px;
}

main article p {
  color: #333333;
  margin: 20px 40px;
}

aside {
  margin-left:40px;
}

.author {
  text-align: center;
}

.author img {
  width: 100px;
  height: 100px;
  border-radius:50%;
}

.author h3,
.author p {
  font-size: 13px;
  margin: 30px 0;
  color: #333333;
}

.author h3{
  text-align: center;
}

.author p {
  width:350px;
  text-align: left;
}

.ranking h3,
.archive h3 {
  font-size: 13px;
  margin: 100px 0 30px 0;
  color: #333333;
  text-align: center;
}

.ranking article {
  width: 350px;
  margin-bottom: 40px;
}

.ranking article img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

.ranking article p {
  font-size: 13px;
  color: #333333;
  text-align: left;
  margin-top: 10px;
}

.archive ul {
  width: 90%;
  list-style: none;
  border-top: solid 1px #ccc;
  margin-bottom: 20px;
}

.archive li a {
  color: #333333;
  text-decoration: none;
  font-size: 13px;
}

.archive li {
  border-bottom: solid 1px #ccc;
  padding: 20px;
}

footer {
  background-color: #eeeeee;
}

footer .content {
  display: flex;
}